
body{
    height: inherit;
    background-color: #111;
    padding-top: 40px;
}

.gridster ul{
    list-style: none;
}

.gridster>ul>li>div{
    margin: 0!important;
    padding: 0!important;
}

.gridster ul li .swidget {
    vertical-align: middle;
    background-color: #eee;
}

.gridster ul li .swidgetContent{
    height: 100%;
    width: 100%;
}

.gridster ul li .swidget.error .swidgetContent{
    background-color:#EAEAEA;
    opacity: 0.4;
}

.gridster ul>li>.swidget {
}

.gridster ul li .swidget .ui.header{
    margin-top: 0;
}

.gridster ul li .swidget .swidgetContent>.ui.header:first-child{
    padding-top: 1em;
}
.gridster ul li .ui.segment .ui.floating.label {
    position: absolute;
    z-index: 100;
    top: -0.6em;
    right: -0.6em;
    height: 1.1em;
    left: initial;
    display: inline-table;
}
