
body{
    height: inherit;
}

.gridster ul{
    list-style: none;
}

.gridster ul li .ui.segment {
    min-height: 100px;
    vertical-align: middle;
    margin: 0;
}

.gridster ul>li>.ui.segment {
    min-height: 140px;
}

.gridster ul li .ui.segment.swidget {
    padding-top: 25px;
}
