<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Info Maison</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--  require JS    -->
    <script data-main="{{url_for('static', filename='main')}}" src="{{url_for('static', filename='lib/require.js')}}"></script>

    <!--  Semantic CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='lib/semantic-UI-1.8.1-dist/semantic.min.css')}}" type="text/css" />

    <!--  our CSS    -->
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}" type="text/css" />
</head>
<body id="main">
</html>
